.profilePage,.container{
width: 828px;
height: 640px;
flex: 1;
border-radius: 16px;
padding: 20px;
overflow-y: scroll;

}

.profilePage::-webkit-scrollbar{
    display: none;
}
.d-flex{
    display: flex;
}
.profilePageHeader{
width: 900px; 
display: flex;
align-items: center;
justify-content: space-between;  
}

.ProfilePageinfoBox{
    height: calc(640px - 140px);
    /* margin-top: 20px; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.avatar{
    background-color: #D83A52;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    font-size: 25px;

}

.headerLeft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
.headerRight{
        width: 60%;
        display: flex;
        align-items: flex-end;
        padding-right: 100px;
        justify-content: flex-end;
        flex-direction: column;
        color: #F5F6F8;
}
.headerRight > .MuiSvgIcon-root{
    color: rgb(85, 85, 85)!important;
    font-size: 34px!important;
    cursor: pointer;
}
.nameaddr > h5{
    color: #D83A52;
}

.ppinput{
    width: 430px;
    height: 57px;  
    margin-bottom: 50px;
  
    
}
.ppinputtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #D83A52;
}

.ppinput > input{
    border: none;
    outline: none;
    width: 90%;
    background-color: gray;
    padding: 10px 5px;
    background: #F5F6F8;
    border-radius: 0px 24px 24px 24px;
    margin-top: 5px; 

}
.textBox{
    height: 150px;
}

.textBox>input{
    height: 100%;
    margin-top: 5px;
    text-align: top;
    background: #F5F6F8;
}

.iconBtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchBox{
width: 454px;
height: 60px;
background: #F5F6F8;
border-radius: 24px;
display: flex;
align-items: center;
justify-content: space-around;
padding: 0px 10px;
}

#skillSearchInput{
    width: 85%;
    height: 80%;
    border: none;
    outline: none;
    background: transparent;
}

.searchIco > .MuiSvgIcon-root{
    color: gray!important;
}

.iconBtn{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 8px;
    width: 160px;
    cursor: pointer;
    background: #D83A52;
    border-radius: 8px;
}

.iconBtnText{
    font-weight: 600;
    font-size: 16px;
}

.skillPageHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 840px;
}

.skillContainer{
    width: 373px;
    height: 74px;
    background: #F5F6F8;
    border-radius: 0px 24px 24px 24px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 5px 10px;
}

.skillTitle{
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 5px;
}


.MuiRating-icon{
    color: #D83A52!important;
}

.skillPageBody{
    height: 500px;
    background-color: transparent;
    margin-top: 20px;
    overflow-y: auto;
    padding: 20px;
    display: flex;
}

.skillPageBody::-webkit-scrollbar {
    display: none;
  }

.recommendation{
    width: 412px;
    height: 1px;
    background: #F3F0F0;
    border-radius: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    /* .searchContainer.searchActive > */
}

.searchContainer{
    height: 80px;
    padding: 20px;

}
.searchContainer > .recommendation{
    display: none;
    overflow-y: auto;

}
.searchContainer.searchActive{
    height: 280px;
}
.searchContainer.searchActive > .recommendation{
   /* display: block; */
   background: #F5F6F8;
   border-radius: 1px;
   height: fit-content;
   display: flex;
   align-items: flex-start;
   width: 100%;
   border-radius: 24px;
   z-index: 1000;
   margin-top: 3px;
   overflow-y: auto;

}

.searchListItem{
    background-color: #F5F6F8;
    padding: 5px 40px;
    width: 412px;
    margin-top: 5px;
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
    transition: all 3ms ease-in;
        margin-left: 30px;
        font-weight: 600;
        font-size: 17.5px;
    
}
.searchListItem:hover{
    background-color: #f5f6f8f3;

}

.addBtn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-left: 100px;
    /* background-color: #000; */
    position: fixed;
    top: 320px;

}
.addBtn > .ico{
    margin-right: 3px;
    margin-top: 5px;
}
.addBtn > .txt{
    font-weight: 800;
    
}
.addBtn > .ico > .MuiSvgIcon-root{
    color: #D83A52!important;
    font-size: 25px;
    font-weight: 800;
}



.projectsPage > .head{
    justify-content: space-between;
    width: 828px;
    margin: auto;
}

.projectsPageBody{
    background: transparent;
}
.container::-webkit-scrollbar{
display: none;
}

.skillBatch{
/* padding: 0px 20px; */
display: flex;
align-items: center;
justify-content: center;
width: fit-content;
height: 25px;
background: #FFFFFF;
border: 1px solid #D83A52;
border-radius: 12px;
cursor: pointer;
margin-right: 7.8px;
padding: 10px 30px;
}
.skillBatch > p{
    font-weight: 600;
    color: #D83A52;
    font-size: 16.3px;
}

.projectContainer{
width: 758px;
height: 196px;
background: #F5F6F8;
border-radius: 0px 24px 24px 24px;
display: flex;
align-items: flex-start;
justify-content: space-between;
flex-direction: column;
padding: 20px;
margin: 10px 0px;
}

.reportHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.left{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 40px;
    text-align-last: left!important;
    /* background-color: #000; */
}
.emailandphone{
    display: flex;
    align-items: center;
    justify-content: center;
}
.email{
    margin-right: 125px;
    font-weight: 600;
    font-size: 16px;
}
.phone{
    margin-left: 30px;
    font-weight: 500;
}
.skillsSection{
    padding-top: 100px;
}
.aboutSection{
    margin-top: 50px;

}

.reportPage{
    overflow-y: scroll;
}

.projectsSection{
    padding-top: 100px;
}

.errorBox{
display: flex;
align-items: center;
}

.errorIcon > .MuiSvgIcon-root{
    color: #D83A52!important;
}

.errorText{
    color: #D83A52!important;
    font-weight: 600;
    font-size: 16px;
}

.edit{
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projectSkills{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    color: #D83A52;
}

.skillsGrid{
    padding: 10px;
}

.projectsSection{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}